!!!
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/main.css')
  body
    .container
      .navbar
        .navbar-inner
          a.brand(href="#") RoA-konsult
          ul.nav
            - for(var i=0; i<menu.length; i++)
              if(menu[i].active)
                li.active
                  a(href=menu[i].url)= menu[i].name
              else
                li
                  a(href=menu[i].url)= menu[i].name
    != body

    .footer
      .container
        ul.footer-links
          li
            a(href='mailto:leif@roa-konsult.se') leif@roa-konsult.se
          li Telefon: +46 70 857 13 03