!!!
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/main.css')
  body
    .container
      .navbar
        .navbar-inner
          a.brand(href="#") RoA-konsult
          ul.nav
            - for(var i=0; i<menu.length; i++)
              if(menu[i].active)
                li.active
                  a(href=menu[i].url)= menu[i].name
              else
                li
                  a(href=menu[i].url)= menu[i].name
    != body

    .footer
      .container
        ul.footer-links
          li
            a(href='mailto:leif@roa-konsult.se') leif@roa-konsult.se
          li Telefon: +46 70 857 13 03

    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34505637-1']);
      _gaq.push(['_setDomainName', 'roa-konsult.se']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();